p#agro
{
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
p#aviso a.i
{
    margin-left: 10px;
}
p#aviso a.n
{
    margin-left: -20px;
}
p#agro2
{
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: -50px;
}